.sidebar{
  background-color: #3a3e46 !important;
  .nav p{
    color: #fff;
  }
  .logo .simple-text {
    color: white;
    text-shadow: 1px 1px gray;
  }
}

.sidebar[data-color="azure"] li.active>a {
  background-color: #94c3e7;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 188, 212, 0.4);
}

.form-control, .is-focused .form-control {
  background-image: linear-gradient(to top, #e7b894 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);
}
.card-header-custom{
  border-radius: 10px !important;
  margin-top: -20px !important;
  padding: 15px !important;
  color: #fff !important;
  background: linear-gradient(to right bottom, #00263E, #00263E) !important;
}

.btn-custom{
  color: white;
  background: linear-gradient(to right bottom, #00263E, #00263E) !important;
}

.form-group.is-focused > label{
  color : #e7b894 !important;
}

.dropdown-menu .dropdown-item:hover, .dropdown-menu .dropdown-item:focus, .dropdown-menu a:hover, .dropdown-menu a:focus, .dropdown-menu a:active {
  background-color: #00bcd4;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 188, 212, 0.4);
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.15s ease;
}

.opacity-8 {
  opacity: .9 !important;
}

.bg-gradient-default {
  background: linear-gradient(87deg, #94c3e7 0, #a394e7 100%) !important;
}

.form-check .form-check-input:checked+.form-check-sign .check {
  background: #e7b894;
}


.dropdown-menu .dropdown-item:hover, .dropdown-menu .dropdown-item:focus, .dropdown-menu a:hover, .dropdown-menu a:focus, .dropdown-menu a:active {
  background-color: #94c3e7;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px #94c3e7;
}

.sidebar{
  .logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .logo-avatar{
      width: 60px;
      height: 60px;
      border-radius: 50%;
      overflow: hidden;
      box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
      img{
        width: 100%;
        height: 100%;
      }
    }
  }
}

.navbar .collapse .navbar-nav .nav-item .nav-link .material-icons{
  font-size: 2rem;
}

.sidebar .nav li .dropdown-menu a {
  color: rgba($color: #fff, $alpha: 0.7);
  &:hover{
    color: #fff;
  }
}

.dropdown-divider {
  height: 0;
  margin: 0.5rem 1.75rem;
  overflow: hidden;
  border-top: 1px solid rgba($color: #e9ecef, $alpha: 0.3);
}
