.sidebar {
  background-color: #3a3e46 !important; }
  .sidebar .nav p {
    color: #fff; }
  .sidebar .logo .simple-text {
    color: white;
    text-shadow: 1px 1px gray; }

.sidebar[data-color="azure"] li.active > a {
  background-color: #94c3e7;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 188, 212, 0.4); }

.form-control, .is-focused .form-control {
  background-image: linear-gradient(to top, #e7b894 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px); }

.card-header-custom {
  border-radius: 10px !important;
  margin-top: -20px !important;
  padding: 15px !important;
  color: #fff !important;
  background: linear-gradient(to right bottom, #00263E, #00263E) !important; }

.btn-custom {
  color: white;
  background: linear-gradient(to right bottom, #00263E, #00263E) !important; }

.btn-small {
  color: white;
  background-color: #94c3e7 !important; }

.form-group.is-focused > label {
  color: #e7b894 !important; }

.dropdown-menu .dropdown-item:hover, .dropdown-menu .dropdown-item:focus, .dropdown-menu a:hover, .dropdown-menu a:focus, .dropdown-menu a:active {
  background-color: #00bcd4;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 188, 212, 0.4); }

.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.15s ease; }

.opacity-8 {
  opacity: .9 !important; }

.bg-gradient-default {
  background: #d4d7e0 !important; }

.form-check .form-check-input:checked + .form-check-sign .check {
  background: #e7b894; }

.dropdown-menu {
  padding: 5px 5px; }
  .dropdown-menu .btn-dropdown {
    width: 100%;
    margin: 0;
    background-color: #fff;
    color: #333;
    box-shadow: none;
    padding: 12px 16px; }
    .dropdown-menu .btn-dropdown i {
      margin-right: 15px;
      font-size: 24px; }
    .dropdown-menu .btn-dropdown:hover {
      background-color: #94c3e7;
      box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px #94c3e7;
      color: #fff; }

@media (max-width: 991px) {
  .dropdown-menu {
    padding: 5px;
    align-items: center; }
    .dropdown-menu .btn-dropdown {
      width: 220px;
      margin: 10px 15px 0;
      background-color: transparent;
      color: #fff;
      box-shadow: none;
      padding: 12px 16px; }
      .dropdown-menu .btn-dropdown i {
        display: none; }
      .dropdown-menu .btn-dropdown:hover {
        background-color: rgba(200, 200, 200, 0.2);
        color: #fff;
        box-shadow: none; } }

.sidebar .logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .sidebar .logo .logo-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2); }
    .sidebar .logo .logo-avatar img {
      width: 100%;
      height: 100%; }

.navbar .collapse .navbar-nav .nav-item .nav-link .material-icons {
  font-size: 2rem; }

.sidebar .nav li .dropdown-menu a {
  color: rgba(255, 255, 255, 0.7); }
  .sidebar .nav li .dropdown-menu a:hover {
    color: #fff; }

.dropdown-divider {
  height: 0;
  margin: 0.5rem 1.75rem;
  overflow: hidden;
  border-top: 1px solid rgba(233, 236, 239, 0.3); }

.bmd-form-group .checkbox label, .bmd-form-group .radio label, .bmd-form-group label {
  font-size: 1.3125rem !important; }

.form-check, label {
  font-size: 21px !important; }

.form-check .form-check-label span {
  display: block;
  position: absolute;
  left: -1px;
  top: 2px;
  transition-duration: 0.2s; }

.bmd-form-group .form-control, .bmd-form-group label, .bmd-form-group {
  position: relative;
  top: 10px; }

.hoverPointer:hover {
  cursor: pointer; }

.hoverBlack:hover {
  color: black !important; }

.hoverNoAllow:hover {
  cursor: not-allowed; }

.card {
  font-size: 1.125rem; }
  .card .card-btn {
    padding: 7.5px 16px; }

.link-custom {
  background-color: #94c3e7;
  color: #fff;
  transition: 0.5s;
  padding: 0.40625rem 1.25rem;
  margin: 5px 1px;
  line-height: 1.5;
  border-radius: 0.2rem;
  text-transform: uppercase;
  font-weight: 400;
  box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14), 0 3px 1px -2px rgba(153, 153, 153, 0.2), 0 1px 5px 0 rgba(153, 153, 153, 0.12); }
  .link-custom:hover {
    color: #fff;
    box-shadow: 0 14px 26px -12px rgba(153, 153, 153, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(153, 153, 153, 0.2); }

.error-text {
  margin-top: 10px;
  font-size: 16px;
  display: inline-block;
  color: red; }

.navbar {
  background-color: #00263E !important;
  color: #fff !important;
  box-shadow: 0 4px 18px 0px rgba(0, 38, 62, 0.5); }
  .navbar .navbar-brand {
    font-size: 1.25rem !important; }
  .navbar .collapse .navbar-nav .nav-item .nav-link {
    font-size: 1.125rem !important; }

.banner {
  width: 100%;
  height: calc(100vh - 70px);
  color: #fff; }
  .banner.index {
    background: rgba(0, 38, 62, 0.5) url("https://images.unsplash.com/photo-1497366811353-6870744d04b2?auto=format&fit=crop&w=750&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D") no-repeat center;
    background-size: cover; }
  .banner.service {
    background: rgba(0, 38, 62, 0.5) url("https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80") no-repeat center;
    background-size: cover; }
  .banner .banner-mask {
    background-color: rgba(0, 38, 62, 0.3);
    width: inherit;
    height: inherit; }
    .banner .banner-mask .content {
      height: inherit; }
      .banner .banner-mask .content .banner-wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: inherit; }
        .banner .banner-mask .content .banner-wrap h1 {
          font-weight: 500; }
        .banner .banner-mask .content .banner-wrap h3 {
          font-weight: 500; }

.aboutUDI {
  padding: 40px 0; }
  .aboutUDI .title {
    font-weight: 500;
    text-align: center;
    font-size: 50px;
    line-height: 70px; }
  .aboutUDI .card .card-img-top {
    min-height: 200px; }
  .aboutUDI .card .card-body {
    display: flex;
    flex-direction: column;
    height: 400px; }
    .aboutUDI .card .card-body .card-title {
      font-weight: 500;
      font-size: 24px;
      margin-bottom: 20px; }
    .aboutUDI .card .card-body .spacer {
      flex: auto; }

footer {
  height: 100px;
  width: 100%;
  background-color: #000; }
  footer .copyright {
    height: 100px;
    color: #fff;
    text-align: center;
    line-height: 100px; }

.custom-center {
  display: flex;
  justify-content: center;
  align-items: center; }

@media (min-width: 992px) {
  .menu {
    display: none; } }

@media (max-width: 991px) {
  .menu {
    display: block;
    cursor: pointer;
    font-size: 30px; } }

.menubar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 99;
  top: 0;
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background-color: #00263E;
  transition: 0.5s; }
  .menubar.activeMenu {
    right: 0; }
  .menubar .menu__box {
    width: inherit; }
    .menubar .menu__box .menu__item {
      box-shadow: inset 0 -1px 0 0 rgba(255, 243, 242, 0.31);
      height: 110px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      width: 100%; }
      .menubar .menu__box .menu__item a {
        font-size: 24px;
        color: #fff; }
      .menubar .menu__box .menu__item:hover {
        background-color: rgba(0, 188, 212, 0.4); }

.package .package__title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 38, 62, 0.6);
  color: white;
  padding: 8px 0px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-top: 16px;
  transition: background-color 0.8s;
  width: 100%; }

.package .package__title:hover {
  cursor: pointer;
  background-color: #00263e; }
